<h1>Welcome to Title Case!</h1>
<form action="/result">
  <div class="form-group">
    <label for="title">Enter your title:</label>
    <input type="text" name="title" id="title" class="form-control">
  </div>
  <button type="submit" class="btn btn-danger">Send</button>
</form>
